$mobile-width: 480px;
$desktop-width: 1200px;

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

.header_navbar {
  display: flex;
  justify-content: space-between;

  @include mobile {
    // Mobile-specific styles can go here
  }

  .navbar_logo {
    height: 78px;
    width: 186px;
    cursor: pointer;
  }

  ul.navbar_menu_item {
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    .navbar_menu_list_item {
      margin-right: 16px;
      color: white;
      margin-right: 38px;
    }
  }

  .navbar_menu_button {
    display: flex;
    align-items: center;

    .btn_signUp {
      .btn_signUp_button {
        font-size: 12px;
        border-radius: 16px;
        border-radius: 39px;
        padding: 8px 20px;
        border: 0.5px solid white;
        background-image: linear-gradient(-90deg, #a541d6, #b431dd);
        color: white;

        @include mobile {
        }
      }
    }
    .icon_menu {
      .icon_menu_icon {
        display: none;

        @include mobile {
          display: block;
          color: white;
          width: 66px;
          height: 53px;
        }
      }
    }
  }
}

.content {
  margin-top: 36px;
  color: white;
  line-height: 40px;

  .text_content {
    text-align: center;
    margin: auto;
    width: 35%;
    padding: 2px 16px;

    @include mobile {
      width: 80%;
      padding: 2px 12px;
    }

    .text_content_second {
      font-size: 36px;
      font-weight: bold;

      @include mobile {
        font-weight: 500;
      }
    }

    .text_content_sub {
      font-size: 13px;
      font-weight: 500;
      line-height: 32px;
    }
  }
}

.button_container {
  margin-top: 48px;
  display: ruby-text;

  .button_container_item {
    border: 1px solid white;
    border-radius: 39px;
    font-weight: 500;
    padding: 10px;
    // min-width: 180px;
    margin: auto;
    width: 140px;
    margin-left: 12px;

    @include mobile {
      padding: 10px;
      display: block;
      min-width: 200px;
      width: 250px;
      margin: auto;
      margin-top: 14px;
    }
  }
  .button_started {
    background: white;
  }
  .button_free {
    color: white;
  }
}

.content_image {
  width: 80%;
  margin: auto;
  margin-top: 48px;

  img {
    width: 100%;
    image-rendering: pixelated;
  }
}
