$mobile-width: 480px;
$desktop-width: 1200px;

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

.header_navbar {
  display: flex;
  justify-content: space-between;

  @include mobile {
    // Mobile-specific styles can go here
  }

  .navbar_logo {
    height: 78px;
    width: 186px;
  }

  .navbar_menu_button {
    display: flex;
    align-items: center;

    .btn_signUp {
      .btn_signUp_button {
        font-size: 12px;
        border-radius: 16px;
        border-radius: 39px;
        padding: 8px 20px;
        border: 0.5px solid white;
        background-image: linear-gradient(-90deg, #a541d6, #b431dd);
        color: white;

        @include mobile {
        }
      }
    }
    .icon_menu {
      .icon_menu_icon {
        color: white;
        width: 66px;
        height: 53px;

        @include mobile {
          .icon_menu_icon {
          }
        }
      }
    }
  }
}

.content {
  margin-top: 36px;
  color: white;

  .text_content {
    text-align: center;
    font-weight: 500;
    width: 80%;
    margin: auto;

    .text_content_second {
      font-size: 36px;
    }

    .text_content_sub {
      font-size: 13px;
    }
  }
}

.button_btn {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 42px;

  .item_button {
    border: 1px solid white;
    border-radius: 39px;
    margin-top: 10px;
    font-weight: 500;
    padding: 8px 0;
  }
  .button_started {
    background: white;
  }
  .button_free {
    color: white;
  }
}

.content_image {
  width: 80%;
  margin: auto;
  margin-top: 48px;

  img {
    width: 100%;
    image-rendering: pixelated;
  }
}
